h1{
    text-align: center;
    padding-top: 40px;
text-transform: capitalize;
font-size: 30px;
}
.row{

padding-left: 80px;

}
Table{

}
.table{
    margin-top: 30px;
    background-color: white;
    margin-bottom: 1px;
    width: 50%;
    padding-left: 350px;


    

}


.image{
    
    overflow:hidden;
    height: 35rem;
    background: white;
    text-align: center;
    
}
.image .photo{
    /* padding: 0rem; */
   
    
}

.name{
margin-top: 80px;
margin-right: 10px;

}
.productname{
    /* width: 200px; */
    overflow: hidden;
    text-overflow: ellipsis;
    background:white;
    color: black;
    font-size: 30px;
    padding-left: 60px;
    
    
    
}
.price{
    padding-left: 60px;
    margin-right: 90px;
    width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background:white;
    color: black;
    font-size: 20px;
}

.table2{
 display: grid;
 gap:9px;
 padding-left: 60px;

 
}

.quantity{
    width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background:white;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    border: 0.5px solid;
    cursor: pointer;
}
.table2.sign1
{
    margin-right: 70px;
} .q1{
    background-color:white;
    color: black;
    width: 40px;
     border: none;
     margin-right: 90px;
    cursor: pointer;
    
}
.q2{
    background-color:white;
    color: black;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.danger{
    background-color: darkgoldenrod;
    width: 80%;
    height: 4vh;
border-radius: 5px;
font-size: 15px;
color:white;
border: 1px solid;
cursor: pointer;

}

.total{
    
    width: 14rem;
    overflow: hidden;
    font-size: 25px;
    margin-left: 250px;
    
}
.cart{
   margin-left: 250px;
    cursor: pointer;
    font-size: 15px;

    
    width: 10%;
    height: 4vh;
    background-color: darkgoldenrod;
    color: white;
    border-radius: 5px;
    border: 1px solid;
   
}
 

.chec{
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: darkgoldenrod;
    width: 10%;
    height: 4vh;
    color: white;
    border-radius: 5px;
    border: 1px solid;
}