h1{
    text-align: center;
    padding-top: 20px;
}
.row{
    justify-content: center;

}
.table{
    
    background-color: white;
    margin-bottom: 1px;
    width: 100%;
    
  
}
.image{
    
    overflow:hidden;
    height: 35rem;
    background: white;
   
    text-align: center;
    
}
.image .photo{
    /* padding: 0rem; */
   
    
}

.name{
margin-top: 80px;
margin-right: 10px;

}
.productname{
    /* width: 200px; */
    overflow: hidden;
    text-overflow: ellipsis;
    background:white;
    color: black;
    font-size: 30px;
    margin-right: 20px;
    
    
    
}
.price{
    margin-right: 90px;
    width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background:white;
    color: black;
    font-size: 20px;
}

.table2{

  margin-right: 90px;
display: flex;

margin-top: 30px;

}

.quantity{
    width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background:white;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    border: 0.5px solid;
    cursor: pointer;
}
.q1{
    background-color:white;
    color: black;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.q2{
    border: none;
    background-color:white;
    color: black;
    width: 15%;
    border-radius: 5px;
    padding-right: 40px;
    cursor: pointer;
}

.danger{
    background-color: darkgoldenrod;
    width: 15%;
border-radius: 5px;
font-size: 15px;
color:white;
border: 1px solid;
cursor: pointer;

}
.total{
    width: 14rem;
    overflow: hidden;
    font-size: 25px;
    margin-left: 90px;
    
}
.cart{
   
    cursor: pointer;
    font-size: 15px;
    margin-left: 90px;
    width: 10%;
    background-color: darkgoldenrod;
    color: white;
    border-radius: 5px;
    border: 1px solid;
   
}