@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fira+Sans:wght@300;400&family=Inter:wght@400;500;900&family=Joan&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&family=Roboto:wght@100;400;500&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
}
.footer{
    background: black;
    padding: 2rem;
    color: #ddd;
    width: 100%;
    position: relative;
    display: flex;
    
    
}
.footer-container{
   
    display: grid;
    grid-template-columns: 20% 20% 16% 15% 25%;
    width: 100%;
    left: 10rem;
    
   


    
}
p span{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer-title{
    color: #eee;
    font-size: 1.5rem;
}

.copyright
.contactus-column{
    color: pink;
    font-size: 1.3rem;
}
.footer-container a:link,
.footer-container a:visited{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer-container a:hover,
.footer-container a:active{
    color: pink;
}
.footer-logo{
    display:flex;
   gap:2rem;
   align-items:center;
   justify-content:flex-end;
   margin-bottom: 2rem;

}
/* .logo-img-container{
    
} */
.logo-img{ 
    margin-bottom: 10px; 
    padding-bottom: 5px;
    display: flex;
   height:4rem;
   gap: 3rem; 
 


     
}
.log-img{
    border-radius: 50%;
    /* width: 60%; */
    height: 15rem;
}
.copyright{
    font-size: 1rem;
}

p{
    font-size: 1rem;
}
h6{
  
    /* left: 50rem; */
    text-align: center;
    font-size: 1rem;
}
.contactus-column p {
font-size: 20px;
}
.contactus-column a{
    font-size: 20px;
}