body{


}
.nav{
 background-color: white;
 transition-timing-function: ease-in;
transition: 0.0 ms;
box-shadow: 2px 1px 0px 1px gray;
}
.header{
    /* margin: 0 auto; */
    display: flex;
    /* align-items: center; */
    padding: 0;
    justify-content: space-between;
    width: 100%;
    min-height: 90px;
    overflow: hidden;
    position: sticky;
    
    }
    .logo{
    text-decoration: none;
    color:black;
    padding-left: 40px;
    }
    
    
    .links{
     display: flex;
    padding-right: 30px;
    }
    
    .links ul li{
    list-style: none;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    }
    .links ul li a{
        text-decoration: none;
        color: black;
      padding-right: 40px;
      transition: .3s;;
    
    }
    Button{
   width: 100%;
    height: 40px;
  font-size: 30px;



    }

    .header Button{

font-size: 15px;

    }

    .header Button:hover{
       background-color:  #CC8032;
    }

    .phone div{
        width: 25px;
        height: 2px;
        margin: 5px 0px;
        background: black;
    }

      .phone{
        cursor: pointer;
        display:none;
        
    }

    @media screen and (max-width: 768px) {
        .phone{
            display:block;
            position:relative;
            top:0;
            padding: 6px;
            right: 290px;

        }

 .links{ 
    position: fixed;
    top:0vh;
    width: 45%;
    height: 100vh;
    background-color: #CC8032;
    flex-direction: column;
    transform: translateX(100%);
    padding: 20px;
    transition: 0.5s ease-in;
    right: 0;
    
 }

 .align{
  background: black;
border: none;
width:  150%;
position: relative;
right: 30rem;
height: 0.1rem;
margin-top: -10px;
}
.links Button{
    border:none;
    font-size: 18px;
    /* padding-right:160px ; */

} 
.nav_active{
  transform: translateX(0);

}
        
    } 