*{
    padding: 0px;
    margin: 0px;
    
  }
  
  .box1{
    width: 260px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
    background-color: rgb(244, 248, 247);
    color: black;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
  }
  .signup-container{
    display: flex;
    background-image: url("../images/pic-project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    
    height: 100vh;
  }
  
  .container3{
    /* opacity: 0.2; */
    width: 500px;
    height: 90vh;
    margin: auto;
  border-radius: 10px;
/* background-color: #E6E7EC; */
background-color: white;
  /* box-shadow: 0 5px 5px 5px lightgray; */
  overflow: hidden;
  transition: all 0.45;
  margin-left: 750px;
  }
  
  .para{
    margin-top: 30px;
    /* padding-top: 10px; */
    padding-left: 25px;
  }
  
  #picture{
    width:500px;
    height: 100vh;
  }
  
  .log-btn{
    width: 170px;
    height: 30px;
    margin-top: 30px;
    margin-left: 80px;
    color: black;
    background-color: rgb(239, 245, 247);
    /* background-color: red; */
    border: none;
    border-radius: 5px;
    
  
  }
  
  
  .usempas{
    padding-top: 10px;
    padding-bottom: 10px; 
  
  
  }
  .loginHeader{
    padding-left: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 50px;
   
  
  }
  .par{
    padding-left: 180px;
    color: rgb(12, 12, 12);
  
  }
  .par-span{
    position: absolute;
    margin-bottom: 10px;
  }
  .text-input{
    margin-left: 100px;
    font-size: lar;
    margin-top: 15px;
  }
  .btn{
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 15px;
  }
  .container3 p{
    margin-left: 100px;
  }
  .signUppar p{
    font-size:18px
  }
  .log-details{
    margin-top: 150px;

  }
  .checkout-container{

    width: 500px;
    height: 90vh;
    margin: auto;
   border-radius: 10px;
   background-color: white;
  box-shadow: 0 3px 3px 3px lightgray;
  overflow: hidden;
  transition: all 0.45;
  margin-top: 30px;
 
  }
  
  .checkout-container h2{
    margin-left: 140px;
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .checkout-container h3{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .link-btn{
    color: white;
    
  }
  .back-link{
    /* margin-top: 25px; */
    color: white;
    /* position: absolute; */

    
  }
  .next-btn{
    position: absolute;
    margin-left: 200px;
    margin-top: -25px;

  }
  .par-links{
    color:darkgoldenrod;
  }
  
  
  
  
  
  
  
  
  
  
  
  