*{
    padding: 0px;
    margin: 0px;
  }
  
  .box1{
    width: 260px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
    background-color: rgb(244, 248, 247);
    color: black;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
  }
  
  .container3{
    background-color: lightgray;
  
    width: 300px;
    height: 55vh;
    margin-left: 920px;
    margin-top: -550px;
  border-radius: 10px;
  padding-right: 20px;
  box-shadow: 0 3px 3px 3px rgb(243, 236, 236);
  overflow: hidden;
  transition: all 0.45;
  /* background-color: aquamarine; */
  }
  
  .para{
    margin-top: 30px;
    /* padding-top: 10px; */
    padding-left: 25px;
  }
  
  #picture{
    width:800px;
    height: 100vh;
  }
  
  .log-btn{
    width: 170px;
    height: 30px;
    margin-top: 30px;
    margin-left: 80px;
    color: black;
    background-color: rgb(239, 245, 247);
    border: none;
    border-radius: 5px;
    
  
  }
  
  
  .usempas{
    padding-top: 10px;
    padding-bottom: 10px; 
  
  
  }
  .login{
    padding-left: 100px;
  
  }
  .par{
    padding-left: 180px;
    color: rgb(12, 12, 12);
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  